#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contrast_dark {
  color: #1A1A18;
}
.subtitle {
  color: #7E6C5A;
}
.accent {
  color: #A37E2C;
}
.gold {
  color: #C2A21DFF;
}
.detail_heavy {
  color: #2C4A3E;
}
.detail_light {
  color: #8AAE9E;
}
.dominant {
  color: #F5F0E8;
}

